doctype html
html
  head
    title= title
    link(rel="shortcut icon", href="/favicon.ico" type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
  body
    block content

    include footer
