<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>You are offline</title>
    <style>
        * {
            box-sizing: border-box;
        }
        body {
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }
    </style>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
</head>
<body>
    <header>
        <menu>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/object/1">1er article</a>
                </li>
                <li>
                    <a href="/object/2">2e article</a>
                </li>
            </ul>
        </menu>
    </header>

    #block content

    <footer>
        <script src="/main.js"></script>
    </footer>
</body>
</html>